.card {
  border: 1px solid #d6ddf1;
  padding: 20px;
  border-radius: 12px;
  width: 420px;
  display: flex;
  gap: 8px;
  background-color: white;

  :hover {
    cursor: pointer;
  }

  &-avatar {
    div {
      height: 32px;
      width: 32px;
      border-radius: 50%;
    }
  }

  &-content {
    overflow: scroll;
    h3 {
      font-size: 18px;
      font-weight: 600;
      color: #151d36;
    }
    .desc {
      color: #485273;
      font-size: 12px;
      margin-top: 4px;
      margin-bottom: 10px;
      line-height: 14px;
      font-weight: 400;
    }
    .tags {
      display: flex;
      gap: 8px;
    }
  }
}

.tag {
  border: 1px solid #d6ddf1;
  background-color: #edeff5;
  border-radius: 200px;
  padding: 4px 12px;
  width: fit-content;

  p {
    font-size: 12px;
    font-weight: 400;
    color: #485273;
  }
}
