@if(images.length > 0) {
<div class="carousel-container">
  <div class="carousel-wrapper">
    <div #carouselSlide class="carousel-slide">
      @for(image of images; track $index){
      <img [src]="image" alt="Carousel Image" />
      }
    </div>
  </div>
  <div class="actions">
    <button
      [disabled]="currentIndex === 0"
      mat-icon-button
      (click)="prevSlide()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>

    <button
      [disabled]="currentIndex === images.length - 1"
      mat-icon-button
      (click)="nextSlide()"
    >
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
}@else {
<span class="feedback">Screen shots not available</span>
}
