.solution-overview {
  border-radius: 12px;
  border: 1px solid #d6ddf1;
  background: #fff;
  padding: 25px 20px;
  color: #485273;
  line-height: 140%;
  display: flex;
  gap: 20px;

  &-avatar {
    div {
      width: 44px;
      height: 44px;
      background-color: #eda9a9;
      border-radius: 50%;
    }
  }

  &-content {
    h3 {
      color: #151d36;
      font-size: 18px;
      font-weight: 600;
      margin-top: 31px;
      margin-bottom: 12px;
    }

    &-heading {
      h1 {
        color: #151d36;
        font-size: 30px;
        font-weight: 700;
      }
      p {
        margin-top: 15px;
        margin-bottom: 20px;
        line-height: 140%;
      }
    }

    &-tags {
      display: flex;
      gap: 8px;

      .tag {
        border: 1px solid #d6ddf1;
        background-color: #edeff5;
        border-radius: 200px;
        padding: 4px 12px;
        width: fit-content;

        p {
          font-size: 12px;
          font-weight: 400;
          color: #485273;
        }
      }
    }

    &-works {
      ul {
        margin-left: 20px;
      }
    }
    &-features {
      div {
        margin-top: 26px;
        width: fit-content;
      }
    }
  }
}
