.banner {
  background-color: #071921;
  padding: 70px 0;

  &-content {
    font-family: "Poppins", sans-serif;
    max-width: 720px;
    margin: 0 auto;
    color: white;
    font-size: 56px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;

    span {
      color: #ff9900;
    }
  }
}

.gradient-container {
  position: absolute;
  top: 0;
  right: 0;
}
