.solution {
  background: #f0f5f9;
  padding: 16px;

  &-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 900px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
