@if(images){

<div class="carousel-container">
  <div class="carousel">
    @for(image of images; track $index; let i=$index){
    <div
      class="carousel-item"
      [ngClass]="{ selected: i === selectedIndex }"
      [style.flex]="i === selectedIndex ? 3 : 1"
    >
      <img [src]="image" alt="carousel image {{ i }}" />
    </div>
    }@empty {
    <span class="feedback">Screen shots not available</span>
    }
  </div>

  @if(images.length>1){
  <div class="arrows">
    <button
      [disabled]="selectedIndex === 0"
      mat-icon-button
      (click)="onPreviousImage()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>

    <button
      [disabled]="selectedIndex === images.length - 1"
      mat-icon-button
      (click)="onNextImage()"
    >
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
  }
</div>
}
