.form {
  font-family: "Poppins", sans-serif;
  &-title {
    font-size: 18px;
    font-weight: 600;
  }
  &-desc {
    margin-top: 5px;
    margin-bottom: 14px;
    color: #485273;
    font-size: 14px;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  margin-bottom: 10px;

  label {
    font-size: 14px;
    color: #485273;
  }
  input {
    padding: 12px 4px;
    border: 1px solid rgb(204 204 204);
    border-radius: 4px;
  }
}

.form-row {
  display: flex;
  gap: 20px;

  @media (max-width: 540px) {
    flex-direction: column;
    gap: 0;
  }
}

.agreement-text {
  font-size: 13px;
  font-weight: 400;
  margin: 10px 0;

  span {
    a {
      text-decoration: none;
      color: #ff9900;
    }
  }
}

.invalid {
  color: red;
}
